* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root {
    font-size: 62.5%;
    ----brand-colors-explorer-dark:#065E7C;
    --color-paw: #F4FCFF;
    --color-comp:#ffffff33;
   

    
  }
  body{
   
    
   
   
  }

.container {
    display: grid;
    margin: auto;
    width: 43rem;
    height: 14rem;
   
    grid-template-rows: 72px 100vh   6.4rem;
  

   
    
} 

.container > * {
    display: grid;
    border: 1px solid red;
   
}

header {
  
  
}

.menu {
    display: flex;
    align-items: center;
    width: 43rem;
    height: 7.2rem;
     padding: 1.2rem 2.8rem;
    gap: 2.6rem;

    background-color: var(----brand-colors-explorer-dark); 
    
}

.avatar {

    width: 4.2rem;
    height: 4.2rem;
  
    object-fit: cover;
  
    border-radius: 50%;
}

form {
    display: flex;

    width: 24rem;
    height: 4rem;
    padding: 12px 16px 12px 14px;
    align-items: center;
    gap: 12px;

    border-radius: .4rem;
    background: var(--color-comp);
}

.paw {
    display: flex;
    width: 4rem;
    height: 4rem;
    padding: .8rem;
    gap: 1rem;

   
    border-radius: 50%;
    background-color: var(--color-paw);
   
}

.paw img {
   width: 2.4rem;
   height: 2rem;

}



